# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
out

# Go build artifacts
/app/app
/app/cmd/app
/app/cmd/*.exe
/app/cmd/*.out
sqlc.yaml

# Git
.git
.gitignore

# Environment files
.env
.env.*

# Docker files themselves
Dockerfile
docker-compose.yml
.dockerignore

# SQLite database
*.db
*.sqlite
*.sqlite3
data/
